body {
  padding: 0;
  margin-top: 0;
  font-family: 'Righteous', serif;
}

.owl-carousel:after {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0;
  pointer-events: none;
  background: url() no-repeat center 50%;
  background-size: 100% auto;
}
.owl-stage{
  min-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.owl-item {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate(0) scale(1.0, 1.0);
          transform: translate(0) scale(1.0, 1.0);
}
.item {
  opacity: 0.4;
  transition: .4s ease all;
  transform: scale(.6);
}
.item img{
  display: block;
  min-width: 100%;
  height: auto;
  max-height: 680px !important;
}
.active .item {
  display: block;
  width: 100%;
  opacity: 1;
  transform: scale(1);
}

/* content and cta */
.inner {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
}
h1 {
    margin: 0;
}
.headline-wrap h1,
.headline-wrap h2,
.cta-main {
    display: inline-block;
    overflow: hidden;
}
.headline-wrap h1 span,
.headline-wrap h2 span,
.cta-main .cta-text {
    position: relative;
}

.headline-wrap h1 span:before,
.headline-wrap h2 span:before,
.cta-main .cta-text:before {
    content: "";
    background-color: currentColor;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.headline-wrap h1 span:before {
    transition: .3s .3s;
}
.headline-wrap h2 span:before {
    transition: .3s .45s;
}
.cta-main .cta-text:before {
    transition: .3s .5s;
}

.active .headline-wrap h1 span:before,
.active .headline-wrap h2 span:before,
.active .cta-main .cta-text:before {
    transform: translateX(100%);
    left: 1px;
}
/* END CTA Button*/

/* Title Animation */
/*.reveal-text,
.reveal-text:after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}*/
.reveal-text {
  -webkit-user-select: none;
          user-select: none;
  color:#ffe221;
  text-shadow: 1px 1px #000000;
/*  white-space: nowrap;
  content: '';
  height: auto;*/
/*  background:#fbff65;
  position: absolute;
  left: 47%;*/
}

/*.active .reveal-text{
  -webkit-animation-name: animate;
          animation-name: animate;
}
.active .reveal-text:after {
  -webkit-animation-name: revealer-text;
          animation-name: revealer-text;
}*/

/* Before animation */
/*@keyframes animate{
  0%{
    width: 100%;
    z-index:1;
  }
  100%{
    width: 0;
    z-index: 1;
  }
}*/

/* After animation *//*
@-webkit-keyframes revealer-text {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes revealer-text {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  60%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}*/
/* Title Animation END */

/* OWL-Carousel Navigation*/
.owl-nav div {
  position: absolute;
  top: 45%;
  color: #cdcbcd;
}
.owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-]:hover{
  padding: 0;
  background: none;
}
.owl-nav i {
  font-size: 52px;
}
.owl-nav .owl-prev {
  left: 5% !important;
}
.owl-nav .owl-next {
  right: 5% !important;;
}
.owl-prev:hover, .owl-next:hover{
  text-shadow: 3px 3px #000000;
  transform: translateX(10%);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.owl-prev:hover{
  text-shadow: -3px 3px #000000;
  transform: translateX(-15%);
}
.owl-theme .owl-dots .owl-dot span{
  width: 0;
}
.owl-dots {
  text-align: center;
  position: fixed;
  left: 0;
  margin-top: 10px;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127,127,127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}
.owl-dot.active {
  background: rgba(127,127,127, 1);
}
/* END OWL-Carousel Navigation*/

@media only screen and (max-width:768px) {
  #full-width{
    padding: 0;
  }
  .item{
    transform: scale(0);
  }
  .item img{
    height: 400px !important;
  }
  .active .item img{
    max-height: 400px !important;
  }
}
@media only screen and (max-width:420px) {
  .item img{
    height: 200px !important;
  }
  .active .item img{
    max-height: 200px !important;
  }
}